

/*
Accordion section
*/
// Core default SCSS for the theme.
.fl-accordion-item {
  border-color: $uconn_brand_blue;
}

// Extra non-compiled SCSS for theme-specific changes (extra.scss)
// Unaware of any other scss files
// $primary_color will be overwritten by the value of the customizer option
$primary_color: #03357a !default;

div.fl-accordion-item {
  border-color: $primary_color !important;
}



/*
use $primary_color to override the bb default settings.
*/

/*
buttons
*/

// ...