// customizer color defaults

// theme function comes from tailwind
// set variables
$dark_blue: #000e2f;
$ap_light_blue: theme('colors.ucBlue.600');
$ap_blue: theme('colors.ucBlue.700');
$ap_light_grey: theme('colors.ucGrey.300');
$ap_medium_grey: theme('colors.ucGrey.600');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;


$page_header: rgba(3 , 53 , 122 , 0.8);
$page_header_fade: 0.2;
$site_title: #ffffff;
$search_box: $ap_blue;
$search_box_text: #ffffff;
$hamburger_color: #ffffff;
$hero_hover: $cool_grey;
$main_nav_contrast: rgba(0, 14, 47, 0.2);
$sub_menu_bg: $dark_blue;
$sub_menu_border: transparent;
$sub_menu_text: $ap_light_grey;
$sub_menu_bg_hover: $ap_blue;
$sub_menu_text_hover: #ffffff;
$nav_link: $light_grey;
$nav_link_hover: $light_grey;
$nav_underline: $light_grey;
$link_color: $ap_light_blue;
$link_hover: #b50106;
$footer_horiz_menu: $light_grey;
$footer_horiz_menu_hover: $light_blue;
$footer_text: $ap_light_grey;
$footer_text_strong: $ap_light_grey;
$footer_links: $ap_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $light_blue;
$social_svg_hover: $ap_light_grey;
$footer_menu: $ap_light_grey;
$footer_menu_hover: $ap_light_grey;
$content_slider_dots: $ap_medium_grey;
$content_slider_active: $ap_blue;
$accordions: #bdcfe7;
$button: $ap_blue;
$button_hover: $dark_blue;
$button_text: #ffffff;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';