// customizer color defaults

// theme function comes from tailwind
// set variables
$dark_red: #680505;
$hartford_dark_red: theme('colors.ucRed.600');
$hartford_red: theme('colors.ucRed.500');
$hartford_light_grey: theme('colors.ucGrey.300');
$hartford_medium_grey: theme('colors.ucGrey.700');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;

$page_header: rgba(177, 2, 0, .8);
$page_header_fade: 0.2;
$site_title: #ffffff;
$search_box: $dark_red;
$search_box_text: #ffffff;
$hamburger_color: #ffffff;
$hero_hover: $cool_grey;
$main_nav_contrast: rgba(177, 2, 0, .8);
$sub_menu_bg: $dark_red;
$sub_menu_border: transparent;
$sub_menu_text: $hartford_light_grey;
$sub_menu_bg_hover: $hartford_red;
$sub_menu_text_hover: #ffffff;
$nav_link: $light_grey;
$nav_link_hover: $light_grey;
$nav_underline: $light_grey;
$link_color: $hartford_dark_red;
$link_hover: #607d8b;
$footer_horiz_menu: $light_grey;
$footer_horiz_menu_hover: $light_blue;
$footer_text: $hartford_light_grey;
$footer_text_strong: $hartford_light_grey;
$footer_links: $hartford_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $cool_grey;
$social_svg_hover: $hartford_light_grey;
$footer_menu: $hartford_light_grey;
$footer_menu_hover: $hartford_light_grey;
$content_slider_dots: $hartford_medium_grey;
$content_slider_active: $light_blue;
$accordions: #bdc3c6;
$button: $hartford_red;
$button_hover: $dark_red;
$button_text: #ffffff;
$button_hover_text: #ffffff;

// transform sass variables to css variables for better color support
// for instance rgba($page_header, 0.8) doesn't work
// rbga(var(--page-header), 0.8) DOES work
:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';