// customizer color defaults

// theme function comes from tailwind
// set variables
$dark_blue: #000e2f;
$stam_light_blue: theme('colors.ucBlue.600');
$stam_blue: theme('colors.ucBlue.700');
$stam_light_grey: theme('colors.ucGrey.300');
$stam_medium_grey: theme('colors.ucGrey.600');
$stam_red: #b10200;
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: theme('colors.ucCoolGrey.300');


$page_header: rgba(0, 14, 47, 0.8);
$page_header_fade: 0.2;
$site_title: #ffffff;
$search_box: $dark_blue;
$search_box_text: #ffffff;
$hamburger_color: #ffffff;
$hero_hover: $stam_red;
$main_nav_contrast: rgba(0, 14, 47, 0.8);
$sub_menu_bg: $dark_blue;
$sub_menu_border: transparent;
$sub_menu_text: $stam_light_grey;
$sub_menu_bg_hover: $stam_red;
$sub_menu_text_hover: $stam_light_grey;
$nav_link: $light_grey;
$nav_link_hover: $light_grey;
$nav_underline: $light_grey;
$link_color: $stam_light_blue;
$link_hover: #b50106;
$footer_horiz_menu: $cool_grey;
$footer_horiz_menu_hover: $light_grey;
$footer_text: $stam_light_grey;
$footer_text_strong: $stam_light_grey;
$footer_links: $stam_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $cool_grey;
$social_svg_hover: $stam_light_grey;
$footer_menu: $stam_medium_grey;
$footer_menu_hover: #ffffff;
$content_slider_dots: $stam_medium_grey;
$content_slider_active: #b50106;
$accordions: #adc3e1;
$button: $dark_blue;
$button_hover: $stam_red;
$button_text: #ffffff;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';

// // customizer typography defaults
// $font_family: '"Proxima Nova", Verdana, Arial, Helvetica, sans-serif' !default;
// $h1_font_family: '"Proxima Nova", Verdana, Arial, Helvetica, sans-serif' !default;
// $h1_font_size: 60px !default;
// $h1_font_weight: 300 !default;
// $h1_line_height: 1 !default;
// $h2_font_family: '"Proxima Nova", Verdana, Arial, Helvetica, sans-serif' !default;
// $h2_font_size: 45px !default;
// $h2_font_weight: 300 !default;
// $h2_line_height: 1.1 !default;
// $h3_font_family: '"Proxima Nova", Verdana, Arial, Helvetica, sans-serif' !default;
// $h3_font_size: 22px !default;
// $h3_font_weight: 700 !default;
// $h3_line_height: 1.3 !default;
// $h4_font_family: '"Proxima Nova", Verdana, Arial, Helvetica, sans-serif' !default;
// $h4_font_size: 18px !default;
// $h4_font_weight: 700 !default;
// $h4_line_height: 1.3 !default;