// customizer color defaults

// theme function comes from tailwind
// set variables
$comms_dark_blue: theme('colors.ucBlue.900');
$comms_light_blue: theme('colors.ucBlue.600');
$comms_blue: theme('colors.ucBlue.700');
$comms_light_grey: theme('colors.ucGrey.300');
$comms_medium_grey: theme('colors.ucGrey.600');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;


$page_header: #ffffff;
$page_header_fade: 0.2;
$site_title: $comms_dark_blue;
$search_box: $comms_dark_blue;
$search_box_text: #ffffff;
$hamburger_color: $comms_dark_blue;
$hero_hover: $comms_dark_blue;
$main_nav_contrast: rgba(0, 14, 47, 0.8);
$sub_menu_bg: $comms_dark_blue;
$sub_menu_border: transparent;
$sub_menu_text: #ffffff;
$sub_menu_bg_hover: $comms_blue;
$sub_menu_text_hover: #ffffff;
$nav_link: $comms_dark_blue;
$nav_link_hover: #ffffff;
$nav_underline: $light_grey;
$link_color: $comms_light_blue;
$link_hover: #b50106;
$footer_horiz_menu: $comms_light_grey;
$footer_horiz_menu_hover: $light_blue;
$footer_text: $comms_light_grey;
$footer_text_strong: $comms_light_grey;
$footer_links: $comms_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $light_blue;
$social_svg_hover: $comms_light_grey;
$footer_menu: $comms_light_grey;
$footer_menu_hover: $comms_light_grey;
$content_slider_dots: $comms_medium_grey;
$content_slider_active: $comms_dark_blue;
$accordions: $comms_dark_blue;
$button: $comms_dark_blue;
$button_hover: $comms_blue;
$button_text: #ffffff;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';