$font_family: theme('fontFamily.sans');
$h1_font_family: 'league-gothic' theme('fontFamily.sans');
$h1_font_size: 80px;
$h1_font_weight: 600;
$h1_line_height: .95;
$h2_font_family: 'DM Serif Display' theme('fontFamily.serif');
$h2_font_size: 45px;
$h2_font_weight: 300;
$h2_line_height: 1.1;
$h3_font_family: 'DM Serif Display' theme('fontFamily.serif');
$h3_font_size: 24px;
$h3_font_weight: normal;
$h3_line_height: 1.3;
$h4_font_family: 'league-gothic' theme('fontFamily.sans');
$h4_font_size: 28px;
$h4_font_weight: 700;
$h4_line_height: 1.3;

@import 'typography';