// customizer color defaults

// theme function comes from tailwind
// set variables
$dark_blue: #000e2f;
$wb_light_blue: theme('colors.ucBlue.600');
$wb_blue: theme('colors.ucBlue.700');
$wb_light_grey: theme('colors.ucGrey.300');
$wb_medium_grey: theme('colors.ucGrey.600');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;


$page_header: rgba(91, 135, 196, 0.8);
$page_header_fade: 0.2;
$site_title: #ffffff;
$search_box: #426ca6;
$search_box_text: #ffffff;
$hamburger_color: #ffffff;
$hero_hover: $wb_light_blue;
$main_nav_contrast: rgba(21, 64, 162, 0.8);
$sub_menu_bg: $wb_light_blue;
$sub_menu_border: transparent;
$sub_menu_text: #ffffff;
$sub_menu_bg_hover: #4078bb;
$sub_menu_text_hover: #ffffff;
$nav_link: $light_grey;
$nav_link_hover: $light_grey;
$nav_underline: $light_grey;
$link_color: #4078bb;
$link_hover: $dark_blue;
$footer_horiz_menu: $light_grey;
$footer_horiz_menu_hover: $light_blue;
$footer_text: $wb_light_grey;
$footer_text_strong: $wb_light_grey;
$footer_links: $wb_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $cool_grey;
$social_svg_hover: $wb_light_grey;
$footer_menu: $wb_medium_grey;
$footer_menu_hover: #ffffff;
$content_slider_dots: #4078bb;
$content_slider_active: #4078bb;
$accordions: $light_blue;
$button: $light_blue;
$button_hover: $dark_blue;
$button_text: #ffffff;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';