// customizer color defaults

// theme function comes from tailwind
// set variables
$brand_blue: #000e2f;
$brand_light_blue: theme('colors.ucBlue.600');
$uconn_blue: theme('colors.ucBlue.700');
$brand_light_grey: theme('colors.ucGrey.300');
$brand_medium_grey: theme('colors.ucGrey.600');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;
$off_white: #f0f3f7;



$page_header: #ffffff;
$page_header_fade: 0;
$site_title: $brand_blue;
$search_box: $brand_blue;
$search_box_text: #ffffff;
$hamburger_color: $brand_blue;
$hero_hover: $uconn_blue;
$main_nav_contrast: #f0f3f7;
$sub_menu_bg: #ffffff;
$sub_menu_border: $off_white;
$sub_menu_text: $brand_blue;
$sub_menu_bg_hover: $off_white;
$sub_menu_text_hover: $brand_blue;
$nav_link: $brand_blue;
$nav_link_hover: $brand_blue;
$nav_underline: $brand_blue;
$link_color: #0054a6;
$link_hover: #b50106;
$footer_horiz_menu: $light_grey;
$footer_horiz_menu_hover: #5b87c4;
$footer_text: $brand_light_grey;
$footer_text_strong: $brand_light_grey;
$footer_links: $brand_light_grey;
$footer_links_hover: #ffffff;
$social_svg: #666666;
$social_svg_hover: $brand_light_grey;
$footer_menu: $brand_light_grey;
$footer_menu_hover: $brand_light_grey;
$content_slider_dots: $brand_medium_grey;
$content_slider_active: $brand_light_blue;
$accordions: #f0f3f7;
$button: #f0f3f7;
$button_hover: $brand_blue;
$button_text: $brand_blue;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';