$font_family: theme('fontFamily.sans');
$h1_font_family: theme('fontFamily.sans');
$h1_font_size: 60px;
$h1_font_weight: 300;
$h1_line_height: 1;
$h2_font_family: theme('fontFamily.sans');
$h2_font_size: 45px;
$h2_font_weight: 300;
$h2_line_height: 1.1;
$h3_font_family: theme('fontFamily.sans');
$h3_font_size: 22px;
$h3_font_weight: 700;
$h3_line_height: 1.3;
$h4_font_family: theme('fontFamily.sans');
$h4_font_size: 18px;
$h4_font_weight: 700;
$h4_line_height: 1.3;

@import 'typography';