// customizer color defaults

// theme function comes from tailwind
// set variables
$dark_blue: #000e2f;
$uc_light_blue: theme('colors.ucBlue.600');
$uc_blue: theme('colors.ucBlue.700');
$uc_light_grey: theme('colors.ucGrey.300');
$uc_medium_grey: theme('colors.ucGrey.600');
$light_blue: #5b87c4;
$light_grey: #eaeaea;
$cool_grey: #7c878e;


$page_header: rgba(3, 53, 122, 0.8);
$page_header_fade: 0.2;
$site_title: #ffffff;
$search_box: $dark_blue;
$search_box_text: #ffffff;
$hamburger_color: #ffffff;
$hero_hover: $uc_blue;
$main_nav_contrast: rgba(0, 14, 47, 0.8);
$sub_menu_bg: $dark_blue;
$sub_menu_border: transparent;
$sub_menu_text: #ffffff;
$sub_menu_bg_hover: $uc_blue;
$sub_menu_text_hover: #ffffff;
$nav_link: $light_grey;
$nav_link_hover: $light_grey;
$nav_underline: $light_grey;
$link_color: $uc_light_blue;
$link_hover: #b50106;
$footer_horiz_menu: $light_grey;
$footer_horiz_menu_hover: $light_blue;
$footer_text: $uc_light_grey;
$footer_text_strong: $uc_light_grey;
$footer_links: $uc_light_grey;
$footer_links_hover: #ffffff;
$social_svg: $uc_light_grey;
$social_svg_hover: $uc_light_grey;
$footer_menu: $uc_light_grey;
$footer_menu_hover: #ffffff;
$content_slider_dots: $uc_medium_grey;
$content_slider_active: $uc_blue;
$accordions: #e9f2f9;
$button: $uc_blue;
$button_hover: $dark_blue;
$button_text: #ffffff;
$button_hover_text: #ffffff;

:root {
  --page-header: #{$page_header};
  --main-nav-contrast: #{$main_nav_contrast};
}

@import 'mixins';
@import 'modules/modules';