$font_family: theme('fontFamily.serif');
$h1_font_family: theme('fontFamily.serif');
$h1_font_size: 38px;
$h1_font_weight: normal;
$h1_line_height: 1.2;
$h2_font_family: theme('fontFamily.serif');
$h2_font_size: 30px;
$h2_font_weight: normal;
$h2_line_height: 1.2;
$h3_font_family: theme('fontFamily.serif');
$h3_font_size: 24px;
$h3_font_weight: normal;
$h3_line_height: 1.3;
$h4_font_family: theme('fontFamily.serif');
$h4_font_size: 18px;
$h4_font_weight: 700;
$h4_line_height: 1.3;

@import 'typography';