@mixin set-background-fade($fade-color, $fade-amount) {
  background-color: fade-out($color: $fade-color, $amount: $fade-amount);
}

@mixin set-submenu-border($border-color: transparent) {
  @if ($border-color != transparent) {
    border: 1px solid $border-color;
  }
}