/*
possible typography settings?

// all?
h1 - h6 margin-top/margin-bottom: 15px


// - Serif
h1-h3 - font-weight: normal
h1 - font-size: 38px
  - line-height: 0.8
h2 - font-size: 30px
h3 - font-size: 20px

// - Sans Serif
h1 - font-size: 60px
  - font-weight: 300
h2 - font-size:
h3 - font-size: 22px ? 60px on the home page??? 50px???

p > strong 
  - font-size: 22px
  - line-height: 1.8
*/

body {
  &.admissions-lobo-typography {
    main {
      p {
        font-family: Archivo, "Proxima Nova", Arial, sans-serif;
        span {
          font-family: inherit;
        }
      }
    }
  }
  &.sans-lobo-typography {
    main {
      h1,
      h2 {
        line-height: 1em;
        span {
          line-height: 1em;
        }
      }
    }
  }
}

main {
  font-family: $font_family;
  // headers outside the page builder.
  h1 {
    font-family: $h1_font_family;
  }
  h2 {
    font-family: $h2_font_family;
  }
  h3 {
    font-family: $h3_font_family;
  }
  h4 {
    font-family: $h4_font_family;
  }
  h5,
  h6 {
    font-family: $font_family;
  }
  // inside the page builder
  .fl-module {
    // not using the header module a general fallback
    h1 {
      font-family: $h1_font_family;
    }
    h2 {
      font-family: $h2_font_family;
    }
    h3 {
      font-family: $h3_font_family;
    }
    h4 {
      font-family: $h4_font_family;
    }
    h5,
    h6 {
      font-family: $font_family;
    }
  }
  // using the header module
  .fl-module.fl-module-heading {
    .fl-heading {
      font-family: $font_family;
    }
    .fl-heading-text {
      font-family: $font_family;
    }
    h1.fl-heading {
      font-family: $h1_font_family;
      font-size: $h1_font_size;
      font-weight: $h1_font_weight;
      line-height: $h1_line_height;
      .fl-heading-text {
        font-family: $h1_font_family;
        font-size: $h1_font_size;
        font-weight: $h1_font_weight;
      }
    }
    h2.fl-heading {
      font-family: $h2_font_family;
      font-size: $h2_font_size;
      font-weight: $h2_font_weight;
      line-height: $h2_line_height;
      .fl-heading-text {
        font-family: $h2_font_family;
        font-size: $h2_font_size;
        font-weight: $h2_font_weight;
      }
    }
    h3.fl-heading {
      font-family: $h3_font_family;
      font-size: $h3_font_size;
      font-weight: $h3_font_weight;
      line-height: $h3_line_height;
      .fl-heading-text {
        font-family: $h3_font_family;
        font-size: $h3_font_size;
        font-weight: $h3_font_weight;
      }
    }
    h4.fl-heading,
    h5.fl-heading,
    h6.fl-heading {
      font-family: $h4_font_family;
      font-size: $h4_font_size;
      font-weight: $h4_font_weight;
      line-height: $h4_line_height;
      .fl-heading-text {
        font-family: $h4_font_family;
        font-size: $h4_font_size;
        font-weight: $h4_font_weight;
      }
    }
  }
}
