/*
This file will contain the theme's sass variables and mixins.
It will be imported by style.scss/critical.scss and similar
 */

/*
*
*  Breakpoint variables
*
 */
$small: 340px;
$medium-small: 425px;
$medium: 768px;
$medium-large: 992px;
$large: 1200px;
$x-large: 1440px;


/*
*
*  Typography variables
*
 */

$uconn_sans: "Proxima Nova",Verdana, Arial, Helvetica, sans-serif !default;
$uconn_serif: 'Georgia' serif !default;
$uconn_sans_secondary: 'Roboto' sans-serif !default;

$base_font_size: 16px;


 /*
 *
 *  Color variables
 *
  */

$uconn_black: #222222 !default;
$uconn_white: #ffffff !default;
$uconn_medium_grey: #777777 !default;
$uconn_brand_blue: #03357a !default;
$uconn_blue: #000e2f !default;

$uconn_light_blue: lighten( desaturate( adjust-hue( $uconn_brand_blue, -8deg ), 1 ), 69 ) !default;
$uconn_medium_blue: lighten( desaturate( adjust-hue( $uconn_brand_blue, 7deg ), 18 ), 11 ) !default;
$uconn_dark_blue: darken( saturate( adjust-hue( $uconn_brand_blue, 7deg ), 5 ), 16 ) !default;


$uconn_dark_grey: #282828 !default;
$uconn_light_grey: lighten( $uconn_medium_grey, 33 ) !default;
$uconn_lighter_grey: lighten( $uconn_medium_grey, 45 ) !default;

$uconn_red: #b50106 !default;

$link_color: #4fabf6 !default;
