.fl-builder-content {
  .fl-button-wrap {
    a.fl-button {
      background-color: $button;
      border: 1px solid $button;
      border-radius: 0;
      color: $button_text;
      i,
      span {
        color: $button_text;
      }
      &:hover,
      &:focus {
        background-color: $button_hover;
        border: 1px solid $button_hover;
        i,
        span {
          color: $button_hover_text
        }
      }
    }
  }
}

body .gform_wrapper {
  .gform_footer input[type="submit"] {
    background-color: $button;
    border: 1px solid $button;
    border-radius: 0;
    color: $button_text;
    &:hover,
    &:focus {
      background-color: $button_hover;
      border: 1px solid $button_hover;      
    }
  }
}