.fl-content-slider {
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: $content_slider_dots;
  }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $content_slider_active;
  }
}