footer {
  div.textwidget {
    p {
      color: $footer_text;
    }
    a {
      color: $footer_links;
      &:hover,
      &:focus {
        color: $footer_links_hover;
      }
    }
    strong {
      color: $footer_text_strong;
    }
    .social-svg-link {
      text-decoration: none;
    }
  }
  svg {
    margin: 0 2px;
    width: 60%;
    height: 60%;
  }
  .social-svg-link {
    background-color: $social_svg;
    border: 1px solid $social_svg;
    color: #282728;
    font-size: 18px;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: $social_svg_hover;
      border-color: $social_svg_hover;
      text-decoration: none;
    }
  }
  .social-svg path {
    fill: $social_svg;
  }
  .social-svg:hover path,
  .social-svg:focus path {
    fill: $social_svg_hover;
    cursor: pointer;
  }
  #primary-footer-menu {
    .menu-item {
      color: $footer_horiz_menu;
      a {
        border-color: $footer_horiz_menu;
        color: $footer_horiz_menu;
        &:hover,
        &:focus {
          border-color: $footer_horiz_menu_hover;
          color: $footer_horiz_menu_hover;
        }
      }
    }
  }
}