body {
  header {
    background-color: $page_header;
  }
}

body.home {
  #hero-menu-container {
    #hero-menu {
      .menu-item a {
        &:hover, &:focus {
          background-color: $hero_hover;
        }
      }
    }
  }
}

header {
  a {
    .title-text {
      color: $site_title;
    }
  }
  form.uc-search-form {
    background: $search_box;
    border: 1px solid $search_box;
    input.uc-search-input[type=text], .uc-search-btn i {
      color: $search_box_text;
    }
  }
}

#am-main-menu {
  .menu-item.current-menu-item, .menu-item.current-menu-ancestor {
    background-color: $main_nav_contrast;
    a {
      color: $nav_link_hover;
    }
  }
  .menu-item a {
    color: $nav_link;
    &:hover,
    &:focus {
      color: $nav_link_hover;
      &:after {
        border-bottom-color: $nav_underline;
      }
    }
  }

  .menu-item button {
    color: $nav_link;
    &:hover,
    &:focus {
      color: $nav_link_hover;
      span {
        color: $nav_link_hover;
      }
      &:after {
        border-bottom-color: $nav_underline;
      }
    }
    span {
      color: $nav_link;
    }
  }

  > .current-menu-item::after,
  > .current-menu-ancestor::after,
  > .am-submenu-link:hover::after,
  > .am-submenu-link:focus::after {
    border-bottom-color: $nav_link_hover;
  }
  .am-current-item,
  .current-menu-item,
  .current-menu-ancestor,
  li:hover,
  a:focus,
  button:focus {
    background-color: $main_nav_contrast;
  }
  .am-submenu-list {
    background-color: $sub_menu_bg;
    .am-link {
      color: $sub_menu_text;
    }
    li:hover,
    .am-link:hover,
    .am-link:focus {
      background-color: $sub_menu_bg_hover;
      color: $sub_menu_text_hover;
    }
    li:hover {
      a,
      button {
        color: $nav_link_hover;
      }
    }
    .current-menu-ancestor:hover,
    .current-menu-item:hover {
      background-color: $main_nav_contrast;
    }
  }

  .am-submenu-list-open {
    @include set-submenu-border($sub_menu_border);
  }
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: $hamburger_color;
}

#primary-footer-menu-container {
  #primary-footer-menu {
    .menu-item a {
      border: 1px solid $footer_horiz_menu;
      color: $footer_horiz_menu;
      &:hover,
      &:focus {
        border: 1px solid $footer_horiz_menu;
        color: $footer_horiz_menu;
      }
    }
  }
}