.uc-iconcal {
  .uc-cal-event {
    [class^="uc-cal-event"] {
      color: $link_color;
    }
    &:hover,
    &:focus {
      [class^="uc-cal-event"] {
        color: $link_hover;
      }
    }
  }
}
