.external-link::after {
  content: "\f35d";
  font-family: 'FontAwesome', 'Font Awesome 5 Free';
  font-weight: bold;
  vertical-align: middle;
}

.external-heading-small {
  .fl-heading-text::after {
    @extend .external-link::after;
    font-size: 20px;
    margin-left: 12px;
  }
}

.external-heading-medium {
  .fl-heading-text::after {
    @extend .external-link::after;
    font-size: 26px;
    margin-left: 12px;
  }
}

.external-heading-large {
  .fl-heading-text::after {
    @extend .external-link::after;
    font-size: 32px;
    margin-left: 12px;
  }
}

.external-link-small::after {
  @extend .external-link::after;
  font-size: 12px;
  margin-left: 6px;
}

.external-link-medium::after {
  @extend .external-link::after;
  font-size: 16px;
  margin-left: 8px;
}

.external-link-large::after {
  @extend .external-link::after;
  font-size: 20px;
  margin-left: 12px;
}