ul[id^='am-'] {
  li {
    .am-submenu-icon {
      &:before {
        content: '\f0d7';
        font-family: 'FontAwesome', 'Font Awesome 5 Free';
        font-weight: bold;
      }
    }
  }
}

ul[id^='am-'].am-click-menu li > button[aria-expanded="true"] span::before,
ul[id^='am-']:not(.am-click-menu) li:hover > button .am-submenu-icon::before,
ul[id^='am-'] li:focus > button span::before { 
  content: '\f0d8';
  font-family: 'FontAwesome', 'Font Awesome 5 Free';
  font-weight: bold;
}