
%uc-page-nav-wrap {
  max-width: 1200px;
  background-color: transparent;
  border: none;
}

.fl-page-nav-wrap {
  @extend %uc-page-nav-wrap;
  .navbar-nav > li.current-menu-item > a {
    @extend .current-menu-item;
  }
}

// the line under top level nav and button elements.
%underline {
  content: "";
  border-bottom: 2px solid $uconn_lighter_grey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// base styles for link and button text
%nav-text {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#am-navigation {
  @media screen and (max-width: $medium-large) {
    display: none;
  }
}

#am-main-menu {
  margin-bottom: 0;
  .am-current-item,
  .current-menu-item,
  .current-menu-ancestor,
  li:hover,
  a:focus,
  button:focus {
    background-color: rgba($uconn_dark_blue, 0.7);
  }

  button,
  span {
    color: $uconn_lighter_grey;
  }
  button {
    @extend %nav-text;
    padding: 0 0.5em;
    position: relative;
    &:hover {
      background: none;
    }
    &:hover,
    &:focus {
      border: 0;
      border-radius: 0;
      span {
        background-color: transparent;
      }
    }
    &:active {
      top: 0;
    }
  }
  span {
    margin-left: 0;
  }
  a {
    @extend %nav-text;
    color: $uconn_lighter_grey;
    cursor: pointer;
    padding: 1em;
    padding-right: 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    + button {
      padding: 0;
    }
  }

  > li {
    .menu-item-has-children {
      display: grid;
      grid-template-columns: min-content max-content auto;
      grid-template-rows: repeat(2, max-content);
      white-space: nowrap;
      .am-submenu-list-open {
        border-left: 0;
        border-right: 0;
        grid-column: 1 / -1;
        padding: 0;
        position: initial;
      }
    }
  }

  .am-link {
    padding-right: 1em;
  }

  .am-link:hover,
  .am-link:focus,
  .am-submenu-button:hover,
  .am-submenu-button:focus {
    &:after {
      @extend %underline;
    }
  }

  .am-submenu-link:hover::after,
  .am-submenu-link:focus::after {
    @extend %underline;
  }

  .am-submenu-list {
    a:hover,
    a:focus {
      &:after {
        border-bottom: 0px;
      }
    }
  }

  .menu-item-has-children {
    a {
      + button {
        > span {
          padding: 0 0.7em;
        }
      }
    }
    > button {
      @extend %nav-text;
      > span {
        padding: 10px;
        padding-right: 0;
      }
    }
  }

  .am-submenu-list {
    background-color: $uconn_dark_blue;
    .am-link:hover,
    .am-link:focus {
      background-color: $uconn_brand_blue;
    }
  }

  .am-submenu-list-open {
    ul {
      a {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .no-js:focus-within {
    > ul {
      height: auto;
    }
  }
}

%uc-sub-menu {
  padding: 0;
  background-color: $uconn_dark_blue;
  border-top: none;
  li:hover {
    background-color: $uconn_brand_blue;
  }
}

.fl-page-nav ul.sub-menu {
  @extend %uc-sub-menu;
}

.fl-page-footer .navbar-nav > li > a {
  font-size: 14px;
}

#mobile-nav {
  .mm-menu {
    border: 1px solid transparent;
  }
}

body.home #hero-menu-container {
  position: absolute;
  z-index: 1000;
  margin-top: 3rem;
  right: 0px;
  #hero-menu {
    list-style-type: none;
    padding: 0;
    .menu-item {
      margin: 6px 0;
      background-color: rgba($uconn_white, 0.7);
      border-top: 1px solid $uconn_dark_blue;
      border-bottom: 1px solid $uconn_dark_blue;
      border-left: 1px solid $uconn_dark_blue;
      &:hover, &:focus {
        background-color: rgba($uconn_brand_blue, 0.7);
      }
      a {
        display: block;
        padding: 16px 120px 16px 1rem;
        color: $uconn_dark_blue;
        font-size: 18px;
        font-weight: 900;
        text-decoration: none;
        &:hover, &:focus {
          color: $uconn_white;
          text-decoration: none;
        }
      }
    }
  }
  @media screen and (max-width: $medium-large) {
    display: none;
    visibility: hidden;
  }
}

#primary-footer-menu-container {
  margin-top: 0.4rem;
  padding: 0;
  @media screen and (max-width: $large) {
    margin-top: 1.5rem;
  }
  #primary-footer-menu {
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      @media screen and (max-width: $medium) {
        display: block;
        margin: 24px 0;
      }
      @media screen and (max-width: $large) {
        &:first-child {
          margin-left: 0;
        }
      }
      a {
        padding: 9px 12px;
        border: 1px solid $uconn_light_grey;
        color: $uconn_light_grey;
        font-size: 12px;
        text-transform: uppercase;
        
        &:hover {
          border: 1px solid #5b87c4;
          color: #5b87c4;
          text-decoration: none;
        }
      }
    }
    li + li {
      margin-left: 2em;
      @media screen and (max-width: $medium) {
        margin-left: 0;
      }
    }
  }
}

.fl-row-content-wrap {
  div[class^='menu-'][class$='-container'] {
    @media screen and (max-width: $medium) {
      padding-left: 20px;
    }
  }
}

@media all and (-ms-high-contrast: none) {
    ul[id^='am-'] > .am-list-item .menu-item-has-children {
        display: flex;
        flex-wrap: nowrap;
    }
}

@supports (display: -ms-grid) {
    ul[id^='am-'] > .am-list-item .menu-item-has-children {
        display: flex;
        flex-wrap: nowrap;
    }
}
