#hamburger-menu-icon {
  display: block;
  margin-right: 1em;
  padding-right: 10px;
  @media screen and (min-width: $medium-large) {
    display: none;
  }
}


// handle transitioning the menu smoothly
body {
  #mobile-nav {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  &.mm-wrapper--opened {
    #mobile-nav {
      transform: scaleX(1) !important;
    }
  }
}

#mobile-nav {
  text-transform: uppercase;
  li {
    border: 1px solid transparent;
  }
  a {
    color: $uconn_brand_blue;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover, &:focus {
      color: $uconn_medium_blue;
    }
  }
  .mm-navbar {
    + .mm-listview {
      margin-top: 0;
    }
  }
  #menu-hero-menu {
    background-color: #ddd;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
  }
  @media screen and (min-width: $medium-large) {
    display: none;
  }
}