/*
*
* Styles for the search bars.
*
 */

.search-container {
  // flex-grow: 1.5;
  width: 275px;
}

.uc-search-form {
  input.uc-search-input[type="text"] {
    display: inline-block;
    background: none;
    border: none;
    font-size: 12px;
    padding: 8px 12px;
  }
  .uc-search-btn {
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid transparent;
    i {
      &:hover, &:focus {
        background: none;
        border: none;
      }
    }
  }
}

.uc-search-form-header {
  @extend .uc-search-form;
  background: $uconn_dark_blue;
  border: 1px solid $uconn_dark_blue;
  .uc-search-btn {
    padding: 0 10px;
      i {
      color: $uconn_white;
      &:hover, &:focus {
        color: $uconn_medium_grey;
      }
    }
  }
}

header {
  .uc-search-form {
    @extend .uc-search-form-header;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .uc-search-input {
    color: $uconn_white;
    width: 100%;
  }
}

.uc-search-form-grey {
  @extend .uc-search-form;
  background: $uconn_light_grey;
  border: 1px solid $uconn_light_grey;
  input.uc-search-input[type="text"] {
    color: #666666;
    width: 100%;
  }
  .uc-search-btn {
    padding: 0 10px;
    i {
      color: #666666;
      &:hover, &:focus {
        color: $uconn_dark_grey;
      }
    }
  }
}

nav#mobile-nav .uc-search-form {
  @extend .uc-search-form-grey;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 35px 20px 20px;
}

