main {
  font-family: $uconn_sans;
  line-height: 1.45;
}

p,
a,
li,
blockquote,
span {
  font-family: $uconn_sans;
  font-size: $base_font_size;
  line-height: 1.6em;
}

p,
blockquote {
  margin: 0;
  * {
    font-size: inherit;
  }
}

p {
  + * {
    margin-top: 16px;
  }
}

.fl-page-content a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
