
%uc-logo-text {
	color: $uconn_white;
	font-family: $uconn_sans;
	font-size: 30px;
	line-height: 0.9;
	@media screen and (max-width: $medium-large) {
		display: inline-block;
		font-size: 1.5em;
	}
	@media screen and (max-width: $medium-small) {
		font-size: 1.2em;
	}
}

h1,
.archive-title > span {
	font-family: $uconn_sans;
	font-size: 60px;
	font-weight: 300;
	line-height: 1;
}

h2 {
	font-family: $uconn_sans;
	font-size: 45px;
	font-weight: 300;
	line-height: 1.1;
}

h3 {
	font-family: $uconn_sans;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.3;
}

h4 {
	font-family: $uconn_sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}

h5 {
	font-family: $uconn_sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}

h6 {
	font-family: $uconn_sans;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}

body.admissions-lobo-typography {
	h1 {
		letter-spacing: .015em;
		text-transform: uppercase;
	}
	h4 {
		letter-spacing: .015em;
	}
	h6 {
		color: #b61311;
	}
}


blockquote[id^="uc_quote_text"] {
	p {
		font-size: 45px;
		font-family: $uconn_sans_secondary;
		font-weight: 100;
		line-height: 1.2;
	}

	p[id^="uc_quote_attribution"] {
		font-size: 15px;
		font-family: $uconn_sans_secondary;
		font-weight: 400;
	}
}

.title-container {
	a {
		text-decoration: none;
	}
	span {
		@extend %uc-logo-text;
	}
}

.uc-rich-h2 {
	font-size: 24px;
	font-weight: normal;
}

.fl-rich-text {
	h2 {
		@extend .uc-rich-h2;
	}
	span h2 {
		@extend .uc-rich-h2;
	}
}

.fl-widget {
	h2 {
		@extend .uc-rich-h2;
	}
}
