/*
*
* Responsive styles for the UConn banner.
* Use these styles to make our banner compatible with the ITS banner plugin
* The plugin is network active
*
  */

#uconn-banner {
  .row-container {
    align-items: center;
    display: flex;
    height: 60px;
    max-width: 1220px;
    #uconn-search,
    #uconn-az {
      &:hover,
      &:focus {
        & + div:not(.popup-container) {
          top: 46px;
        }
      }
    }
    #uconn-search-tooltip {
      right: 26px;
    }
  }
}