.error-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 1rem;
  .uc-search-form {
    background: $uconn_light_grey;
    border: 1px solid $uconn_light_grey;
    display: flex;
    min-width: 300px;
    input.uc-search-input[type="text"] {
      color: #000000;
      display: inline-block;
      width: 100%;
    }
    .uc-search-btn {
      display: inline-block;
      padding: 0 10px;
      i {
        color: #000000;
        &:hover, &:focus {
          color: $uconn_dark_grey;
        }
      }
    }
  }
}