footer {
  background-color: $uconn_dark_grey;
  padding: 5rem 0 3rem;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    a {
      color: $uconn_white;
      display: block;
      width: 100%;
    }
  }
  p {
    color: $uconn_light_grey;
  }
  svg {
    margin: 0;   
  }
  @media screen and (max-width: $medium) {
    li {
      display: block;
    }
  }
}

.nav-container {
  a {
    font-size: 12px;
  }
  ul {
    margin-top: 0;
  }
  .footer-logo-container {
    margin-right: 8.5rem;
  }
  @media screen and (max-width: $large) {
    flex-direction: column;
    ul {
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: $medium) {
    ul {
      display: inline-block;
    }
  }
}

.widget-container {
  justify-content: space-between;
  margin-top: 2rem;
  li {
    display: block;
    & + li {
      margin-top: 8px;
    }
  }
  p,
  a,
  li {
    font-size: 14px;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  strong {
    text-transform: uppercase;
  }
  .widgettitle {
    color: $uconn_white;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
  }
  .social-svg-link {
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 1.5rem 0;
    width: 32px;
    + .social-svg-link {
      margin-left: 8px;
    }
  }
  @media screen and (max-width: $medium-large) {
    flex-direction: column;
  }
}

.centered {
  .nav-container {
    align-items: center;
    justify-content: center;
    .footer-logo-container {
      margin-right: unset;
    }
  }
  .widget-container {
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
  }
  .bottom-container {
    justify-content: center;
    text-align: center;
  }
}

.bottom-container {
  padding-top: 20px;
}

#primary-footer-menu {
  a {
    border: 1px solid $uconn_white;
    padding: 9px 12px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      border: 1px solid $uconn_light_blue;
      color: $uconn_light_blue;
    }
  }
  li + li {
    margin-left: 2rem;
  }
  @media screen and (max-width: $medium) {
    li + li {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

#lower-footer-menu {
  a {
    color: $uconn_light_grey;
    font-size: 14px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: white;
      text-decoration: underline;
    }
  }
  li + li {
    margin-left: 2rem;
  }
  @media screen and (max-width: $medium) {
    li + li {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}