%uc-header {
  width: 100%;
  z-index: 1;
  border-color: transparent;
  color: $uconn_dark_blue !important;
  @media screen and (max-width: $medium-large) {
    padding-bottom: 10px;
  }
}

%uc-absolute-page-header {
  @extend %uc-header;
  position: absolute;
}

header {
  @extend %uc-header;
  background-color: rgba($uconn_brand_blue, 0.7);
}

.home.fl-builder {
  header {
    @extend %uc-absolute-page-header;
  }
}