* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.lobo-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  .content-container {
    margin-bottom: 5rem;
  }
  .post {
    max-width: 100%;
  }
}

.lobo-blog-index {
  max-width: 1200px;
  margin: 0 auto 5rem;
  padding: 1.5rem;
}

.lobo-pagination-container {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
  div {
    margin: 1rem 0;
  }
}

.line-height-override {
  line-height: 2;
}

// full width row with full width content
.fl-row-full-width {
  .fl-row-content-wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .fl-module-content {
    margin: 20px;
    margin-bottom: 0;
  }
}

// full width row with fixed width content
// .fl-row-fixed-width {
//   .fl-module-content {
//     margin: 20px;
//     margin-bottom: 0;
//     padding: 0;
//   }
// }

// fixed width row with content
.fl-row-fixed-width {
  .fl-row-content-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .fl-module-content {
    margin: 20px 0 0 0;
    padding: 0 20px;
  }
}
