.page-template-user-people,
.tax-group,
.tax-persontag {
  .people-wrapper {
    margin: 4rem auto;
    max-width: 1200px;
    padding-inline: 1rem;
  }
}


.people-container {
  margin-top: 2rem;
}

.people-grid {
  display: grid;
  gap: 1rem;
  &.people-cols-4 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .person-photo-container {
    margin-bottom: 1rem;
    img {
      margin-bottom: unset;
    }
  }
  .person-detail {
    margin: unset;
  }
}

.single-person {
  .person-content {
    margin: 4rem auto;
  }
  .bio-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-block: 2rem;
    .content-container {
      flex: 1 0 50%;
    }
    .sidebar-container {
      flex: 1 0 auto;
    }
  }
  .info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .headshot-container {
    flex: 0 1 auto;
  }
  .image-container {
    max-width: 400px;
    img {
      height: auto;
      margin: 0;
      width: 100%;
    }
  }
  .title-container {
    flex: 1 1 auto;
    .person-name {
      margin: 0;
      margin-block-end: 1.5rem;
    }
    .person-title,
    .person-department {
      font-weight: 900;
    }
  }
  .person-info-item {
    margin-block-end: 1rem;
    .item-label-container {
      flex-basis: 33%;
      flex-shrink: 0;
    }
    .item-container {
      flex: 1;
    }
    .item-label {
      font-weight: 900;
    }
    .item-value {
      margin: unset;
      word-break: break-all;
    }
  }
}