.search-title-container {
  margin-top: 2rem;
}

.search-results-container {
  flex-direction: column;
  margin-bottom: 3rem;
  &  + .search-results-container {
    margin-top: 1em;
  }
}

.search-results-detail {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  img {
    flex: 1;
  }
  p {
    flex: 3;
    margin-left: 1em;
  }
  @media screen and (max-width: $medium) {
    display: block;
    img,
    p {
      display: block;
      flex: none;
    }
    p {
      margin-left: 0;
      margin-top: 1em;
    }
  }
}