/*
* Overrides for BB accordion module
* includes some special colors for the accordions. #333 and #e9f2f9
*/


%uc-accordion-item {
  border: transparent;
  background-color: lighten( desaturate( adjust-hue( $uconn_brand_blue, -9deg ), 38 ), 70 );
}

%uc-accordion-button {
  color: #333333;
}

%uc-accordion-button-label {
  font-family: $uconn_sans;
  font-size: 18px;
  text-transform: uppercase;
}

%uc-accordion-button-icon {
  color: #333333;
  opacity: 1;
}

%uc-accordion-content {
  padding: 20px;
  background-color: $uconn_white;
}

.fl-module-accordion {
  .fl-accordion {
    .fl-accordion-item {
      @extend %uc-accordion-item;
      .fl-accordion-button {
        @extend %uc-accordion-button;
        .fl-accordion-button-label {
          @extend %uc-accordion-button-label;
        }
        .fl-accordion-button-icon.fas {
          @extend %uc-accordion-button-icon;
        }
      }
      .fl-accordion-content {
        @extend %uc-accordion-content;
      }
    }
  }
}





