.fl-builder-content {
  .fl-button-wrap {
    a.fl-button {
      background-color: $uconn_brand_blue;
      border: 1px solid $uconn_brand_blue;
      border-radius: 0;
      color: $uconn_white;
      i,
      span {
        color: $uconn_white;
        text-transform: uppercase;
      }
      &:hover,
      &:focus {
        background-color: $uconn_blue;
        border: 1px solid $uconn_blue;
      }
      &:visited {
        background-color: inherit;
        border: inherit;
      }
    }
  }
  .is-style-dark-blue-button {
    .fl-button-wrap {
      a.fl-button {
        background-color: theme('colors.ucBlue.900');
        border: 1px solid theme('colors.ucBlue.900');
        color: #ffffff;

        i,
        span {
          color: #ffffff;
        }

        &:hover,
        &:focus {
          background-color: #0054a6;
          border: 1px solid #0054a6;

          i,
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
