section[id^='event-calendar'] {
  .fa-event-location {
    font-size: 14px;
  }

  // .cal-modal-close {
  //   background-color: $uconn_blue;
  //   border: 1px solid $uconn_blue;
  //   border-radius: 4px;
  //   padding: 8px 16px;
  //   color: #fff;
  //   &:hover,
  //   &:focus {
  //     background-color: $uconn_white;
  //     color: $uconn_blue;
  //   }
  // }
}