// These styles override the default calendar styles from the uc-eventscal plugin.

div.uc-iconcal {
  padding: 15px 0;
  .uc-cal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .uc-cal-event {
      min-height: 72px;
      padding: 3px 5px 4px 100px;
    &:hover span.uc-cal-event-title, &:hover span.uc-cal-event-time {
      color: $uconn_red;
    }
  }
  abbr.uc-cal-event-month {
      background-color: transparent;
      height: 20px;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 4px 0;
      color: $uconn_medium_blue;
      text-decoration: none;
  }
  span.uc-cal-event-day {
      height: 40px;
      font-size: 28px;
      padding-top: 7px;
  }
  span.uc-cal-event-date {
      width: 66px;
      box-shadow: none;
      background-color: $uconn_lighter_grey;
      color: $uconn_black;
      border: 1px solid $uconn_medium_grey;
  }
  span.uc-cal-event-title {
      font-size: 16px;
      color: $uconn_medium_blue;
  }
  span.uc-cal-event-time {
      font-size: 16px;
      padding-top: 7px;
      color: $uconn_medium_blue;
  }
}

div.fa-event-container {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: $medium_large) {
  div.fa-event-container:first-child {
    padding-left: 0;
  }
}
