
// force each menu item onto its own line.
// for some reason some menus had more than one li/line.

.uc-menu-item {
  min-width: 100%;
}

.fl-module-menu {
  .menu-item {
    @extend .uc-menu-item;
  }
}