/*
*
* overrides for gravity forms 
*
*/

body .gform_wrapper {
  h2 {
    font-family: $uconn_sans;
  }
  .gform_footer input[type="submit"] {
    background-color: $uconn_blue;
    border: 1px solid $uconn_blue;
    color: $uconn_white;
    font-family: $uconn_sans;
    font-size: 16px;
    line-height: 1.6em;
    padding: 12px 24px;
    text-transform: uppercase;
    &:hover {
      background-color: $uconn_red;
      border: 1px solid $uconn_red;
    }
  }
}