.wp-post-image {
  height: auto;
  margin-bottom: 4rem;
  width: 100%;
}

.uc-headshot {
  padding: 2px;
  border: 1px solid $uconn_medium_grey;
  background-color: $uconn_lighter_grey;
}

img[class*="wp-image-"] {
  @extend .uc-headshot;
}

// svg links inside footer.
.fl-page-footer-widgets-row {
  svg {
    width: 40px;
    height: 40px;
  }
  .social-svg-link {
    text-decoration: none;
  }
  .social-svg-link + .social-svg-link {
    margin-left: 0.9rem;
  }
  .social-svg path {
    fill: $uconn_medium_grey;
  }
  .social-svg:hover path {
    fill: $uconn_light_grey;
    cursor: pointer;
  }
}

.img-no-border {
  img,
  img[class*="wp-image-"] {
    background-color: transparent;
    border: 0;
    padding: 3px;
  }
}